{% extends "base.html" %}

{% block content %}
<main>
  <h1>Browser speech recognition</h1>
  <form id="speech" method="post" action="/command">

    <button type = "button" id="button">Start listening</button>
    <div id="result"></div>
    <p id="message" hidden aria-hidden="true">
      Your browser doesn't support Speech Recognition. Sorry.
    </p>
  </form>
</main>
<script>
        window.addEventListener("DOMContentLoaded", () => {
          const button = document.getElementById("button");
          const result = document.getElementById("result");
          const main = document.getElementsByTagName("main")[0];
          console.log(1)
          let listening = false;
          const SpeechRecognition =
            window.SpeechRecognition || window.webkitSpeechRecognition;
          if (typeof SpeechRecognition !== "undefined") {
            const recognition = new SpeechRecognition();
            console.log(2);
            const stop = () => {
              main.classList.remove("speaking");
              recognition.stop();
              button.textContent = "Start listening";
            };

            const start = () => {
              main.classList.add("speaking");
              recognition.start();
              button.textContent = "Stop listening";
            };

            const onResult = event => {
            console.log(3)
              result.innerHTML = "";
              for (const res of event.results) {
                const text = document.createTextNode(res[0].transcript);
                const p = document.createElement("p");
                console.log(4)
                if (res.isFinal) {
                  p.classList.add("final");
                }
                p.appendChild(text);
                result.appendChild(p);
                console.log(5)
                speech.value = message
                speech.form.submit();
              }
            };
            recognition.continuous = true;
            console.log(6)
            recognition.interimResults = true;
            recognition.addEventListener("result", onResult);
            button.addEventListener("click", event => {
              listening ? stop() : start();
              listening = !listening;
            });
          } else {
          console.log(7)
            button.remove();
            const message = document.getElementById("message");
            message.removeAttribute("hidden");
            message.setAttribute("aria-hidden", "false");
            recognition.onresult = function(event) {

                console.log(99)
          }
          }
        });
      </script>

{% endblock %}