
<form method="post" enctype="multipart/form-data" action="/site/import/">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>Upload recorded Actions</h2>
    <br/> <br/> <br/>
    <!--<input id="title" type="text" name="title" />
    <br/> <br/> -->
    <label for="name" >Action Name </label>
    <input id="name" name="name" type="text"  />
    <br/>
    <p>Please select your preferred script type:</p>
  <div>
    <input type="radio" id="script" name="script_type" value="script" checked>
    <label for="script">Script</label>

    <input type="radio" id="tree_script" name="script_type" value="tree_script">
    <label for="tree_script">Tree Script</label>


    <input type="radio" id="yaml_tree" name="script_type" value="yaml_tree">
    <label for="yaml_tree">Yaml Tree</label>

  </div>


    <label for="uploadbutton" >Recorded Script: </label>
    <input id="uploadbutton" type="file" value="Browse" name="file" />
    <br/>


    <br/>
    <button type="submit">Upload</button>
    <br/>
</form>

