.dialog-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29374ABB;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.dialog-container .dialog {
  display: block;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: white;
}

.dialog-container .dialog .dialog-title {
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: #2A61AE;
}

.dialog-container .dialog .dialog-title img {
  display: inline-block;
  height: 2rem;
}

.dialog-container .dialog .dialog-content {
  padding: 2rem 4rem;
}

.dialog-container .dialog .dialog-actions {
  padding: 2rem 4rem;
}

.dialog-container.open {
  display: block;
}

.toast {
  position: fixed;
  bottom: -4.5rem;
  left: 0;
  width: 100%;
  padding: 0.5rem 4.5rem;
  text-align: center;
  color: white;
  background-color: #29374A;
  opacity: 0;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.toast img {
  height: 2rem;
}

.toast.show {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.new-banner {
  position: relative;
  width: 0;
}
